<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product card template mud</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=straighten" />
    <link rel="stylesheet" href="productCard-type-1.css">
</head>
<body>
    <div class="content">
        <div class="image-row">
            <img src="/assets/images/shoes/jordans/dior-jordan-1.jpg" alt="">
            <img src="https://i.pinimg.com/1200x/47/b0/3d/47b03ddc39a172756033a0155211211b.jpg" alt="">
            <img src="https://i.pinimg.com/1200x/47/bf/8d/47bf8d8a968cb65fa8b6a95ed4a7f5d5.jpg" alt="">
            <img src="https://i.pinimg.com/1200x/ea/df/57/eadf57e730e0dd6fdaa6b796bed18aed.jpg" alt="">
        </div>

        <div class="image-section">
            <div class="image">
                <img src="/assets/images/shoes/jordans/dior-jordan-1.jpg" alt="">

                <div class="switch-buttons">
                    <button class="switch-button"><</button>
                    <button class="switch-button">></button>
                </div>
            </div>
        </div>

        <div class="info-section">
            <div class="title-section">
                <p id="perk">Limited edition</p>

                <h1 id="name">Air Jordan 1 Dior</h1>

                <p id="category">Shoes</p>          

                <img id="badge" src="" alt="">

                <h3 id="price">£299</h3>

                <div class="color-ways">
                    <img src="/assets/images/shoes/jordans/chicago-jordan-1.jpg" alt="">
                    <img src="/assets/images/shoes/jordans/travis-scott-jordan-1.jpg" alt="">
                    <img src="/assets/images/shoes/jordans/university-blue-jordan-1.jpg" alt="">
                </div>

                <div class="sizes">
                    <div class="size-label">
                        <h3>Choose size</h3>

                        <p class="size-guide">Size Guide
                            <span class="material-symbols-outlined">
                                straighten
                            </span>
                        </p>
                    </div>
                    

                    <div class="size-row">
                        <button>40</button>
                        <button>41</button>
                        <button>42</button>
                        <button>43</button>
                        <button>44</button>
                        <button>45</button>
                    </div>
                    
                </div>

                <div class="purchase-section">
                    <p class="fact"><b>Klarna.</b>is available for this purchase</p>
                    <button id="buy-button">Buy now</button>
                    <button id="add-to-cart-button">Add to cart</button>
                </div>


            </div>
        </div>

    </div>



</body>
</html>